*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/release/
gradle/
locusAddonGSAK/build
locusAddonGSAK/release
locusAddonGSAK/debug
locusAddonGSAK/main
locusAddonGSAK/alternative
keys
